body {
  font-family: "Roboto", sans-serif; }

input {
  background-color: #E6E6E6;
  border: none;
  padding: 15px 5px; }

a {
  color: #000000;
  text-decoration: none; }
  a:hover,
  a :focus {
    color: #000000;
    text-decoration: underline; }

header {
  background-color: #000000;
  padding: 10px;
  text-transform: uppercase; }
  header::after {
    clear: both;
    content: "";
    display: table; }

.logo {
  background: url("../img/sixt_logo.svg") no-repeat;
  background-size: cover;
  display: inline-block;
  height: 60px;
  width: 140px; }
  @media screen and (min-width: 560px) {
    .logo {
      width: 320px; } }

.nav {
  float: right;
  padding-top: 20px; }
  .nav-link {
    color: #FFFFFF;
    display: inline-block; }
    .nav-link:first-child {
      margin-right: 8px; }
    .nav-link:hover,
    .nav-link :focus {
      color: #FFFFFF; }
  .nav-icon {
    height: 27px;
    width: 25px; }

.slider-container {
  position: relative; }
.slider-wrapper {
  margin: 0;
  padding: 0;
  position: relative; }
.slider-slide {
  display: none;
  list-style-type: none; }
.slider-image {
  height: auto;
  width: 100%; }
.slider-controls {
  left: 0;
  margin-top: -15px;
  padding: 0 40px;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 2; }
  .slider-controls::after {
    clear: both;
    content: "";
    display: table; }
.slider-control-left {
  float: left;
  transform: rotate(180deg); }
.slider-control-right {
  float: right; }

[class*="slider-control-"] {
  background: #000000;
  display: inline-block;
  height: 40px;
  opacity: .5;
  width: 40px; }
  [class*="slider-control-"]:hover {
    cursor: pointer; }
  [class*="slider-control-"]::after {
    background: url("../img/slider_arrow_icon.svg") center/10px 17px no-repeat;
    content: "";
    display: block;
    height: 40px;
    width: 40px; }

.booking {
  padding: 10px 0; }
  .booking::after {
    clear: both;
    content: "";
    display: table; }
  .booking-heading {
    padding: 20px 0; }
    .booking-heading::after {
      clear: both;
      content: "";
      display: table; }
  .booking-title {
    margin: 0 10px 0 0;
    text-transform: uppercase; }
  .booking-change {
    display: inline-block;
    float: right;
    font-size: 12px;
    line-height: 20px;
    margin: 10px 0 0 20px; }
  .booking-location {
    background: #E6E6E6 url("../img/location_icon.svg") 10px center/18px 26px no-repeat;
    padding-left: 38px;
    width: 100%; }
  .booking-period::after {
    clear: both;
    content: "";
    display: table; }
  .booking-pickup {
    padding-right: 3px; }
  .booking-return {
    padding-left: 3px; }
  .booking-pickup .booking-heading, .booking-return .booking-heading {
    padding-top: 30px; }
  .booking-date {
    float: left;
    width: 60%; }
  .booking-time {
    float: left;
    width: 40%; }
  .booking-submit {
    background-color: #FF7D19;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    margin: 20px 0 30px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%; }
    .booking-submit::after {
      content: "Preise ermitteln";
      display: inline-block; }

.links::after {
  clear: both;
  content: "";
  display: table; }
.links a {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
  padding-right: 20px;
  position: relative; }
  .links a:not(:last-child) {
    margin-right: 30px; }
  .links a::after {
    background-color: #000000;
    background-size: cover;
    content: "";
    display: block;
    height: 11px;
    right: 0;
    position: absolute;
    top: 3px;
    width: 7px;
    -webkit-mask-image: url("../img/link_icon.svg");
    mask-image: url("../img/link_icon.svg"); }

@media screen and (min-width: 360px) {
  .booking-title {
    margin-right: 0; }
  .booking-change {
    margin: 0; } }
@media screen and (min-width: 400px) {
  .nav-link {
    font-size: 18px; }
    .nav-link:first-child {
      margin-right: 30px; }
  .nav-icon {
    margin-left: 5px; } }
@media screen and (min-width: 992px) {
  .booking {
    background-color: #FFFFFF;
    margin: -180px auto 0;
    padding: 0 20px 20px;
    position: relative;
    width: 90%;
    z-index: 1; }
    .booking-heading {
      padding-bottom: 5px; }
    .booking-pickup .booking-heading, .booking-return .booking-heading {
      padding-top: 20px; }
    .booking-submit {
      margin: 45px 0 0;
      padding-bottom: 10px; }
      .booking-submit::after {
        background: url("../img/button_arrow_icon.svg") center/14px 20px no-repeat;
        content: "";
        height: 20px;
        width: 20px; }
    .booking [class*="col-md-"] {
      padding: 0 8px; }

  .links {
    padding-left: calc(5% + 28px);
    padding-top: 15px; }
    .links a {
      color: #FFFFFF; }
      .links a::after {
        background-color: #FFFFFF; } }
@media screen and (min-width: 1600px) {
  .container {
    width: 1570px; } }

/*# sourceMappingURL=style.css.map */
